nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    back
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px
}

.card {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

/* for mobile screens */
@media (max-width: 550px) {

    .services {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a{
    color: aliceblue;
}

button {
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    background-color:black;
    color: white;
    border: none;
}

.hero {
    background-image: url(images/hero.jpg);
    height: 50vh;
    background-size:contain;
    background-position: center;
}