body {
    margin: 0;
}

body {
    font-family: "inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    padding: 0rem 1rem;
    color: #cfcfcf;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #cfcfcf;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
    background-image: url("images/hero.jpg");

    

    background-size: cover;

    background-position: center;

}

.card {
    background-color: rgba(244, 244, 244, 0.6);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(157, 157, 157, 0.6)
}

/* for mobile screens */
@media (max-width: 550px) {

    .services {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a{
    color: aliceblue;
}

button {
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    background-color:#252525;
    color: white;
    border: none;
}

.hero {

    padding: 20px;
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;
}